{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}"   type="text/css">
    <title>Our Plant Index</title>
</head>
<body>
    <header class="header">
    <a class="href" href="/" rel="home">
    <h1 class="header-title">Our Plant Index</h1>
    </a>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        <p class="footer-text"> 2022 Ashton Brugh ©</p>
    </footer>
</body>
</html>