{% extends "base.html" %}
{% block content %}
<div class="plant-detail-container">
    <h3 class="plant-detail-name">{{ plant.name|capfirst }}</h3>
 
    {% load static %}
 <img class="plant-detail-img" src="{{ plant.plant_img.url }}" alt="My image">
 <div class="plant-details-descr">
    <p class="plant-details">Genus: {{ plant.genus }} </p>
    <p class="plant-details">Category: {{ plant.category }}</p>
    <p class="plant-details">Color: {{ plant.color }}</p>
    <p class="plant-details">Description: </p>
    <p class="plant-details">{{ plant.description }}</p>
 </div>
    </div>
</div>
{% endblock %}
